<form>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="formdata.username" />
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="formdata.password">
        </label>
        <label class="item">
            <button class="button button-block button-positive" type="submit" ng-click="sbt(formdata)">Log in</button>
        </label>
    </div>
</form>


